@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Inter:wght@400;700&display=swap');

:root {
  --font-base: 'Lato', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  
}
